nav ul {
    list-style: none;  /* เอาจุดออก */
    display: flex; /*ทำให้เป็นแนวนอน*/
    justify-content: space-around; /*จัดให้อยู่ตรงกลาง*/
    gap: 2rem; /*เว้นระยะห่าง*/
    margin: 0;
    padding: 0;

}

nav a {
    text-decoration: none; /*เอาเส้นใต้ลิงค์ออก*/
    color:rgb(0, 0, 0);
    font-weight: bold;


}

.navbar{

    background-color: azure;
     padding: 1rem;
     position: sticky; /* ติดบนเวลาเลื่อน */
     top: 1%; /* ระยะห่างจากบนสุดของหน้าจอ */
     z-index: 1000; /* ให้แน่ใจว่าอยู่บนทุกอย่าง */
    

}


nav a:hover {

    color: #c08a8a;
   

}

nav li:hover{
    transform: scale(1.1);
    transform: all 0.3s ease;
}

body {
    font-family: 'IBM Plex Sans Thai', 'Sarabun', sans-serif;
    line-height: 1.6;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: large;

}

.image-skill img {
    width: 10%;
    height: auto; /* รักษาสัดส่วน */
    display: block; /* ลบช่องว่างรอบรูป */
    position: relative;
    float: right;
    margin-right: 700px;
    top: -700px;
}

.image-visual img {
    width: 20%;
    height: auto; /* รักษาสัดส่วน */
    display: block; /* ลบช่องว่างรอบรูป */
    position: relative;
    float: right;
    margin-right: -700px;
    top: -700px;
}

.image-figma img{
    width: 7%;
    height: auto; /* รักษาสัดส่วน */
    display: block; /* ลบช่องว่างรอบรูป */
    position: relative;
    float: right;
    margin-right: -150px;
    top: -400px;

    

}

.image-sql img{
    width: 10%;
    height: auto; /* รักษาสัดส่วน */
    display: block; /* ลบช่องว่างรอบรูป */
    position: relative;
    float: right;
    margin-right: -600px;
    top: -400px;

}

#main-img {
    width: 800px; /* ปรับตามต้องการ */
    height: auto; /* ให้สัดส่วนไม่บิดเบี้ยว */
    transition: 0.3s; /* ทำให้เปลี่ยนขนาด/เปลี่ยนรูปนุ่มขึ้น */
    top: -100px;
    position: relative;
}

.skill-text {
     position: absolute;
     top: 20px;  /* ระยะห่างจากด้านบน */
     left: 50%;  /* กึ่งกลาง */
     transform: translateX(-50%); /* ดันข้อความให้กึ่งกลางพอดี */
     font-size: 40px;
     color: white;
     font-weight: bold;
     text-shadow: 2px 2px 8px black; /* ให้ตัวอักษรอ่านง่ายบนรูป */

    
    
    
    


}
